In [1]:
from cmdstanpy import CmdStanModel

In [2]:
stan_data = {'N': 10, 'y': [0,1,0,0,0,0,0,0,0,1]}

In [3]:
bern = CmdStanModel(stan_file='./foo.stan')

INFO:cmdstanpy:compiling stan program, exe file: /Users/iali/Desktop/Personal/website/blog-notebooks/updating-stan-model/foo
INFO:cmdstanpy:compiler options: stanc_options=None, cpp_options=None
INFO:cmdstanpy:compiled model file: /Users/iali/Desktop/Personal/website/blog-notebooks/updating-stan-model/foo

In [4]:
fit = bern.sample(data = stan_data, chains = 4)

INFO:cmdstanpy:start chain 1
INFO:cmdstanpy:start chain 2
INFO:cmdstanpy:start chain 3
INFO:cmdstanpy:start chain 4
INFO:cmdstanpy:finish chain 3
INFO:cmdstanpy:finish chain 2
INFO:cmdstanpy:finish chain 4
INFO:cmdstanpy:finish chain 1

In [6]:
fit.summary()

,Mean,MCSE,StdDev,5%,50%,95%,N_Eff,N_Eff/s,R_hat
name,,,,,,,,,
lp__,-7.28359,0.019491,0.746658,-8.761410,-6.994920,-6.750000,1467.5,29349.9,0.999737
theta,0.24550,0.002913,0.119763,0.077678,0.229401,0.466607,1690.7,33814.0,1.001250